[submodule "src/lib/STM32CubeL0"]
	path = src/lib/STM32CubeL0
	url = https://github.com/STMicroelectronics/STM32CubeL0.git
[submodule "lib/CubeL0"]
	path = lib/CubeL0
	url = https://github.com/STMicroelectronics/STM32CubeL0.git
[submodule "lib/DAC_X050X"]
	path = lib/DAC_X050X
	url = https://github.com/ikok07/dac_x050x-generic-driver.git
[submodule "lib/shared_values/esp32_logger"]
	path = lib/shared_values/esp32_logger
	url = https://github.com/ikok07/esp32_logger.git
[submodule "lib/logger"]
	path = lib/logger
	url = https://github.com/ikok07/stm32_logger.git
[submodule "lib/shared_values"]
	path = lib/shared_values
	url = https://github.com/ikok07/stm32_shared_values.git
[submodule "lib/ssd1306-stm32HAL"]
	path = lib/ssd1306-stm32HAL
	url = https://github.com/4ilo/ssd1306-stm32HAL.git
